body{
  margin: 0%;
  font-family: 'Montserrat Alternates' !important;
}

h1{
  font-weight: 900 !important;
  font-size: 30px;
}

p{
  font-weight: 400;
  font-size: 20px;
}

/* Title Section */

.title-section{
  background: linear-gradient( #547980, #45ADA8, #9DE0AD);
  padding: 6% 15%;
  color: #fff;
}

.column-layout{
  align-items: center;
  justify-content: center;
}

.title-image{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

/* Body Section*/

.body-section{
  padding: 20px 0;
}
.navbar{
  text-align: center ;
}

/* About Me */

.about-me{
  text-align: center;
  padding: 5% 0;
}

.about-me-container{
  margin: 40px auto 0 auto;
}

.about-me-card{
  border: solid 3px;
  border-image: linear-gradient( #547980, #45ADA8, #9DE0AD) 1;
  padding: 20px;
  margin-bottom: 20px;
  flex-basis: 30%;
  text-align: center;
}

.about-me-card img{
  width: 100px;
  height: 100px;
  border: 2px solid black;
  border-radius: 50%;
  margin-bottom: 4%;
}

/* Media query */

@media (max-width:900px) {
  .title-section{
    text-align: center;
  }
}

@media (min-width:900px) {
  .column-layout{
    display: flex;
  }
  .column-two{
    width: 60%;
    margin: 10px;
  }
  .about-me-container{
    display: flex;
    justify-content: space-between;
  }
}